---
---

@import "{{ site.theme }}";
body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}
header h1:before {
  content: '>';
  padding: 0 13px;
}
