---
---

@import "{{ site.theme }}";
body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}
header h1:before {
  content: '>';
  padding: 0 13px;
}
header {
  margin: 0;
}
#main_content {
  background: rgba(0,0,0,0.85);
  padding: 25px;
}
