---
---

@import "{{ site.theme }}";
body {
  background-image: url(../images/matrix.jpg);
  background-size: cover;
  background-attachment: fixed;
}
header h1:before {
  content: '>';
  padding: 0 13px;
}
header {
  margin: 0;
}
header h2 {
    font-size: 17px;
}
#main_content {
  background: rgba(0,0,0,0.85);
  padding: 45px;
  width: calc(100% - 90px);
}
a {
  text-decoration: none;
}
